mat-toolbar {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);

  button[mat-icon-button] {
    color: var(--mat-sys-on-primary);
  }
}

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidenav-container {
  flex: 1;
  overflow: hidden;
}

.sidenav {
  width: 220px;

  button[mat-list-item] {
    border: none;
    background: none;
    width: 100%;
    text-align: left;
  }
}

.main-content {
  padding: 24px;
}
