<mat-toolbar>
  <button mat-icon-button (click)="navOpen.set(!navOpen())">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ title() }}</span>
  <span class="toolbar-spacer"></span>
  @if (currentUserService.user(); as currentUser) {
    <a
      routerLink="/profile"
      class="toolbar-avatar"
      [attr.aria-label]="currentUser.handle"
      matTooltip="Go to your profile"
    >
      @if (currentUser.avatarUrl) {
        <img [src]="currentUser.avatarUrl" alt="" />
      } @else {
        <mat-icon>account_circle</mat-icon>
      }
    </a>
  }
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    [opened]="navOpen()"
    [mode]="sidenavMode()"
    (closed)="navOpen.set(false)"
    class="sidenav"
  >
    <mat-nav-list>
      <a mat-list-item routerLink="/" (click)="onNavLinkClick()">
        <mat-icon matListItemIcon>event</mat-icon>
        <span matListItemTitle>Events</span>
      </a>
      <a mat-list-item routerLink="/profile" (click)="onNavLinkClick()">
        @if (currentUserService.user()?.avatarUrl; as avatarUrl) {
          <img matListItemIcon [src]="avatarUrl" alt="" class="nav-avatar" />
        } @else {
          <mat-icon matListItemIcon>account_circle</mat-icon>
        }
        <span matListItemTitle>Profile</span>
      </a>
      <mat-divider />
      <button mat-list-item (click)="logout(); onNavLinkClick()">
        <mat-icon matListItemIcon>logout</mat-icon>
        <span matListItemTitle>Log out</span>
      </button>
    </mat-nav-list>

    <div class="version-info">
      <span>F {{ frontendVersion }} / B {{ backendVersion() ?? '…' }}</span>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
